body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
}

.pages {
    width: 90%;
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.page-link {
    width: 20rem;
    background: grey;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border: none;
}

.nav-link {
    width: 15rem;
    padding: 0.8rem;
    background: grey;
    text-align: center;
    border-radius: 5px;
}

.main-container {
    padding: 1rem;
    text-align: center;
}

.leap-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.leap-section p {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}

.leap-year-container {
    margin: 1rem auto;
    width: 20rem;
}

.leap-year-container p {
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
}

.green {
    background: lightgreen;
}

.red {
    background: lightcoral;
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}