{% extends "main.html" %}

{% block content %}

<h1>Contact Us</h1>
<p>We'd love to hear from you! Whether you have a question, concern, or just want to say hello, we're here for you.</p>
<p>You can reach us by email at <a href="mailto:support@pcecommerce.com">support@pcecommerce.com</a>, or by phone at (555) 555-5555 from 9:00 AM to 5:00 PM (PST), Monday through Friday.</p>
<p>For the quickest response, please fill out the form below and a member of our customer service team will get back to you as soon as possible.</p>

{% endblock %}